
.container {
    margin: 0;
}

/* TOP BAR CSS */
.top-bar {
    background-color: #303047;
    color: white;
    padding: 50px;
}

/* INSTRUCTIONS CSS */

.list-group {
    width: 350px;
    margin-top: 25px;
    border: 1px solid #444444;
    border-radius: 6px;
    font-size: 13px;
    text-align: left;
}

.list-group-item-dark {
    background-color: #303047;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.list-group-item-secondary {
    background-color: #e8e9eb;
    border-bottom: 2px solid #444444;
}

.list-group-item:last-child {
    background-color: #303047;
}

#add-project {
    width: 100%;
    padding: 5px;
    border: 1px solid #444444;
    border-radius: 5px;
}

#add-project:hover {
    background-color: #d1d1d1;
}